{% extends 'shop/base.html' %}

{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div>
            <img src="{{ product.image.url }}"  width="500px" height="500px"  alt="" > 
        </div>
    </div>
<div class="col-md-6">
    <div class="text-warning display-3">
        {{ product.title }}
    </div>
<div>
    <div class="text-danger" >
        {{ product.price }} 
    </div>
    <div>
    {{ product.description }}
     </div>
    <div>
        <form method="post" action="{% url 'ajouter_au_panier' product.id %}" class="add-to-cart-form" data-product-id="{{ product.id }}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Ajouter au panier</button>
        </form>
    </div>
    <div class="mt-3">
        <strong>Articles dans le panier :</strong> {{ panier_count }}
    </div>
</div>


{% endblock %}


